* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /* top right bottom left */
  padding: 30px 100px 30px 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-right: 75px;
  font-size: 16px;
}

ul li a {
  text-decoration: none;
  color: black;
}
